# Koneksi saat FastAPI jalan di HOST lokal (menembak Docker Postgres port 5434):
DATABASE_URL=postgresql+asyncpg://postgres:postgrespassword@localhost:5434/ambisin_db

# Kunci JWT
SECRET_KEY=ganti_dengan_secret_key_acak_kamu
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
